<!DOCTYPE html>
<html doctype>
<head>
<meta charset="utf-8">
<title>Tiden - {{ page.title }}</title>
<link rel="stylesheet" href="../tidenchart.css">
<style>
  body {
    padding: 0;
    margin: 0;
  }
</style>
</head>
<body>
  <div class="tidenchart">
  </div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="../tidenchart.js"></script>
<script>
(function(){
  'use strict';
  function ready(fn) {
    if (document.readyState != 'loading'){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }
  var labels = {
    de: {
      yAxis: '{{ page.title }}'
    }
  };
  var tidenChart = new TidenChart(document.getElementsByClassName('tidenchart')[0], {
    baseurl: '',
    data: '../data/{{ page.data }}',
    animateLine: true,
    labels: labels['de'],
    source: 'Datenquelle: Wasser- und Schifffahrtsverwaltung des Bundes (WSV), bereitgestellt durch die Bundesanstalt für Gewässerkunde (BfG)'
  });
  ready(function(){
    tidenChart.init();
  });
}());
</script>
</body>
</html>
